In [1]:
print("Hello shyam Welcome back!")

Hello shyam Welcome back!

In [4]:
li = list()
li.append(10)
li.append(20)
li.append(30)

In [5]:
for i in li:
    print(i)

10
20
30

In [6]:
li1 = [40,50,60]
li.extend(li1)
print(li)

[10, 20, 30, 40, 50, 60]

In [7]:
li.insert(2,100)
print(li)

[10, 20, 100, 30, 40, 50, 60]

In [11]:
try:
    li.remove(100)
except ValueError:
    print("Element do not exist in list")
finally:
    print("Execution Done bro")

Element do not exist in list
Execution Done bro

In [12]:
li.pop()

60

In [13]:
li.clear()
print(li)

[]

In [15]:
li1.index(50)

1

In [17]:
li.extend([10,20,30,10,20,10])
print(li)

[10, 20, 30, 10, 20, 10]

In [19]:
print(li.count(10))
print(li)

3
[10, 20, 30, 10, 20, 10]

In [20]:
li.sort()
print(li)

[10, 10, 10, 20, 20, 30]

In [21]:
li.reverse()
print(li)

[30, 20, 20, 10, 10, 10]

In [22]:
li1 = li.copy()
print(li1)

[30, 20, 20, 10, 10, 10]

In [27]:
li.extend([10,20,30,40,50])
li1 = li.copy()

In [28]:
li.pop()

50

In [29]:
li2 = li

In [30]:
li.pop()

40

In [31]:
li.clear()
li1.clear()
li2.clear()

In [35]:
t = tuple()
print(t)

()

In [36]:
t1 = (1,2,3,4)

In [41]:

t1.count(1)

1

In [42]:
t1.index(2)

1

In [43]:
s = {1,2,3,1,2,1}
print(s)

{1, 2, 3}

In [44]:
type(s)

set

In [45]:
s1 = {2,4,6}
s2 = {1,3,5}

In [46]:
s.add(4)
print(s)
s.remove(4)
print(s)

{1, 2, 3, 4}
{1, 2, 3}

In [47]:
s.pop()

1

In [49]:
s.update(s1)
print(s)

{2, 3, 4, 6}

In [50]:
s.union(s2)

{1, 2, 3, 4, 5, 6}

In [51]:
s1.issubset(s)

True

In [52]:
s.issuperset(s1)

True

In [53]:
str1 = "shyam is a good boy"

In [54]:
str2 = "he exercise daily"
str3 = "he likes machine learning and ai"

In [56]:
str1+" "+str2+" "+str3

'shyam is a good boy he exercise daily he likes machine learning and ai'

In [62]:
print(str1.center(100))
print(str1.casefold())

                                        shyam is a good boy
shyam is a good boy

In [64]:
str1.count(" ")

4

In [72]:
str4 = "Hello Shyam"
str4.istitle()

True

In [74]:
str1.join(str2)

'hshyam is a good boyeshyam is a good boy shyam is a good boyeshyam is a good boyxshyam is a good boyeshyam is a good boyrshyam is a good boycshyam is a good boyishyam is a good boysshyam is a good boyeshyam is a good boy shyam is a good boydshyam is a good boyashyam is a good boyishyam is a good boylshyam is a good boyy'

In [78]:
st = "ar"
st1 = "ye"
st2 = "agle"
st3 = "nemy"
st4 = "eeee"
st5 = st+" "+st1+" "+st2+" "+st3
st5.join(st4)

'ear ye agle nemyear ye agle nemyear ye agle nemye'

In [81]:
str1.zfill(100)

'000000000000000000000000000000000000000000000000000000000000000000000000000000000shyam is a good boy'

In [82]:
str1.split()

['shyam', 'is', 'a', 'good', 'boy']

In [83]:
str1.rsplit()

['shyam', 'is', 'a', 'good', 'boy']

In [86]:
str5 = "    shyam          "
str5.strip()   #lstrip  rstrip

'shyam'

In [89]:
str1.replace("good","Bad")

'shyam is a Bad boy'

In [90]:
str1.startswith('s')

True

In [109]:
str1.ljust(50).rjust(100).upper().center(50).replace("good","Bad")

'                                                  SHYAM IS A GOOD BOY                               '

In [111]:
str1 = str1.encode()

In [112]:
print(str1)

b'shyam is a good boy'

# Example of GCD

In [116]:
def GCD(x,y):
    if(x < y):
        smaller = x;
    else:
        smaller = y
    for i in range(2,smaller+1):
        if( x%i == 0  and y%i == 0):
            gcd = i
    print("GCD of two numbers "+str(x)+" and "+str(y)+" is "+str(gcd))

if __name__ == "__main__":
    li = list(map(int,input().split()))
    GCD(li[0],li[1])

GCD of two numbers 12 and 16 is 4

# Example of LCM

In [121]:
def LCM(x,y):
    if(x>y):
        greater = x
    else:
        greater = y
    while True:
        if(greater%x == 0  and greater%y == 0):
            print("LCM of two numbers is "+str(greater))
            break
        greater += 1

if __name__ == "__main__":
    li = list(map(int,input().split()))
    LCM(li[0],li[1])

LCM of two numbers is 80

In [122]:
from itertools import product